*{
    padding: 0em;
    margin: 0em;
    border: none;
    text-decoration: none;
    background: transparent;
}

.currency-list{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #E9E2E2;
}