.cur-info__row{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    /* padding: 0em 1em; */
}

.cur-info__row:hover{
    background: #BDBBBB;
}
.cur-date, .cur-rate{
    display: flex;    
    padding: 1em;
    border-bottom: 1px solid grey;
    color: white;
    align-items: center;
}
.cur-date{
    flex: 1 0 0;
}
.cur-rate{
    flex: 1 0 0;
}
/* .cur-date:hover, .cur-rate:hover{
    background: #BDBBBB;
} */