*{
    padding: 0em;
    margin: 0em;
    border: none;
    text-decoration: none;
    background: transparent;
}

.currency-list{
    display: flex;
    flex-direction: column;
    flex:2 0 0;
    padding: 0em 1em;
}