*{
    padding: 0em;
    margin: 0em;
    border: none;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 5em; */
    padding: 1em;
    border-bottom: 1px solid grey;
}